/*
 * DateTimePicker - v0.0 by Lisa Stoz
 * Under MIT Licence
 */


/* ESSENTIAL STYLING  */

.datetimepicker-wrapper {
	display: inline;
    position: relative;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
}

	.datetimepicker-wrapper *{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

    /*Container-----------------------------------------------------------------------*/
	
	.datetimepicker-no-date .datetimepicker-container {
        width: 7em;
    }
	
	.datetimepicker-container{
		position: absolute;
        float: left;
		text-align: center;
        left: 0;
		right: 0;
		width: 24em;
		display: none;
		z-index: 5;
	}

	.open .datetimepicker-container {
        display: block;
    }

	.datetimepicker-top .datetimepicker-container{
		top: -6.75em;
		margin-bottom: 0.625em;
	}

    .datetimepicker-bottom .datetimepicker-container{
        margin-top: 0.625em;
    }

	/*Container END------------------------------------------------------------------------*/

	/*Arrow--------------------------------------------------------------------------------*/
	 
	.datetimepicker-arrow {
		width: 0; 
		height: 0; 
		border-left: 0.625em solid  transparent;
		border-right: 0.625em solid  transparent;
		position: absolute;
		left: 1.5625em;
		margin-left: -0.625em;
	}
	
		.datetimepicker-top .datetimepicker-arrow{
			border-top: 0.625em solid rgba(204, 204, 204, 1);
			bottom: -0.625em;
		} 
	 
		.datetimepicker-bottom .datetimepicker-arrow{
			border-bottom: 0.625em solid rgba(204, 204, 204, 1);
			top: -0.625em;
		}
		
	.arrow-inner {
		width: 0; 
		height: 0; 
		border-left: 0.625em solid transparent;
		border-right: 0.625em solid transparent;
		border-left: 0.625em solid rgba(255, 255, 255, 0);
		border-right: 0.625em solid rgba(255, 255, 255, 0);
		position: relative;
		left: -0.625em; 
	}
	
		.datetimepicker-top .arrow-inner{
			border-top: 0.625em solid rgba(255, 255, 255, 1);
			bottom: 0.6875em;
		}
	
		.datetimepicker-bottom .arrow-inner{
			border-bottom: 0.625em solid rgba(255, 225, 255, 1);
			top: 0.0625em;
		}

	/*Arrow END------------------------------------------------------------------------*/
	
	/* Clear ---------------------------------------------------------------------------*/
	.datetimepicker-clear {
		display: block;
		position: absolute;
		right: 0.25em;
		top: 0.15em;
		text-align: center;
		text-decoration: none;
		width: 1em;
		height: 1em;
		line-height: 1em;
	}
	
	.datetimepicker-hidden {
		display: none;
	}
	
	/* Clear END------------------------------------------------------------------------*/
	 
	/*Main ----------------------------------------------------------------------------*/
	
	.datetimepicker-main{
		padding: 0.625em;
		border: 0.0625em solid #cccccc;
		float: left;
		clear: both;
		border-radius: 0.25em;
		background: #ffffff;
	}
	
		.datetimepicker-main span{
			display: inline;
			float: left;
			position: relative; 
		}
		
		.datetimepicker-main input{
			margin: 0.125em 0 0.2em 0;
			text-align: center;
			color: #5a5a5a;
		}

		.datetimepicker-day input{
			width: 10em;
		}
	
		.datetimepicker-short-day input{
			width: 7em;
		}
		
		.datetimepicker-hour-minute-sep,
		.datetimepicker-day-hour-sep {
			min-width: 1em;
			padding-top: 1.8em;
		}
		   
			.datetimepicker-hour input,
			.datetimepicker-minute input{
				width: 2em;
				text-align: center;
			}
            
		.datetimepicker-up,
		.datetimepicker-down,
		.datetimepicker-am a {
			clear: both;
			display: block;
			width: inherit;
			background: #ccc;
			background-image: linear-gradient(to bottom, #eee, #ccc);
			text-align: center;
			text-decoration: none;
			conent: "";
			height: 1.5em;
			border: 0.0625em solid #cccccc;
			border-radius: 0.25em;
		}
		
			.datetimepicker-up span,
			.datetimepicker-down span{
				width: 0;
				height: 0;
				border-left: 0.3em solid transparent;
				border-right: 0.3em solid transparent;
				margin-top: 0.5em;
				margin-left: -0.3em;
				position: relative;
				left: 50%;
			}
			
				.datetimepicker-up span{
					border-bottom: 0.4em solid #777777;
				}
				
				.datetimepicker-down span{
					border-top: 0.4em solid #777777;
				}
				
		.datetimepicker-up.datetimepicker-disabled,
		.datetimepicker-down.datetimepicker-disabled
		{
			background: #F5F5F5;
			background-image: linear-gradient(to bottom, #f5f5f5, #eee);
			cursor: default;
		}
		
		.datetimepicker-am a.datetimepicker-disabled,
		.datetimepicker-pm a.datetimepicker-disabled {
			background: #F5F5F5;
			background-image: linear-gradient(to bottom, #fff, #eee);
			cursor: default;
			color: #bbb;
		}
			
			.datetimepicker-up.datetimepicker-disabled span{
				border-bottom: 0.4em solid #bbb;
			}
			
			.datetimepicker-down.datetimepicker-disabled span{
				border-top: 0.4em solid #bbb;
			}
			
		
		/*am*/
		.datetimepicker-am{
			margin-left: 1em;
		}
		
		.datetimepicker-am a{
			line-height: 37px;
			padding: 0 5px;
			height: 37px;
			color: #777777;
		}
		
			a.datetimepicker-disabled{
				box-shadow: inset 0 1px 2px #cccccc;
				
			}
			
			.datetimepicker-am a.datetimepicker-btn-am{
				border-radius: 4px 4px 0 0;
			}
			.datetimepicker-am a.datetimepicker-btn-pm{
				border-radius:  0 0 4px 4px;
			}
		/*am end*/
		
		
	/*Main END --------------------------------------------------------------------------*/
        
/* CUSTOMISATION - SAFE TO EDIT PROPERTIES LISTED BELOW */    

	/*Button styling---------------------------------------------------------------------*/
		/*Button*/
		.datetimepicker-up,
		.datetimepicker-down{
			background: #F5F5F5;
			text-align: center;
			text-decoration: none;
			border: 1px solid #cccccc; 
			background-image: linear-gradient(to bottom, #eee, #ccc);
			border-radius: 0.25em; 
		}
		
		/*Carets inside of a button */
		.datetimepicker-up span{
			border-bottom: 0.4em solid #999999; 
		}
		
		.datetimepicker-down span{
			border-top: 0.4em solid #999999; 
		}
	
	/*Button styling END-----------------------------------------------------------------*/
	
	/* Clear button styling -------------------------------------------------------------*/
	.datetimepicker-clear {
		color: #777;
	}
	/* Clear button styling END ----------------------------------------------------------*/
	
	/*Background / border-----------------------------------------------------------------*/
	
		.datetimepicker-top .datetimepicker-arrow{
			border-top: 0.625em solid #cccccc; /*Border for upper arrow*/
		} 
	 
		.datetimepicker-bottom .datetimepicker-arrow{
			border-bottom: 0.625em solid #cccccc; /*Border for bottom arrow*/
		}
		
		.datetimepicker-top .arrow-inner{
			border-top: 0.625em solid #ffffff; /*Background for upper arrow*/
		}
	
		.datetimepicker-bottom .arrow-inner{
			border-bottom: 0.625em solid #ffffff; /*Background for bottom arrow*/
		}

		
		.datetimepicker-main{
			border: 1px solid #cccccc; 
			border-radius: 0.25em; 
			background: #ffffff; 
		}
	/*Background / border END-------------------------------------------------------------*/
	